<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />

    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="static/css/navbar.css" rel="stylesheet">
    <link href="static/css/analysis.css" rel="stylesheet">



    <title>Analysis</title>

   
   
    
  
</head>

<body data-spy="scroll" data-offset="15" data-target="#myScrollspy">
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="/media/newlogo61.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/">&nbsp&nbsp&nbsp&nbsp HOME</a>
                        </li>
                      


                        <li class="nav-item">
                            <a class="nav-link" href="/states">&nbsp&nbsp&nbsp&nbsp STATES</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/analysis">&nbsp&nbsp&nbsp&nbsp ANALYSIS</a>
                        </li>



                    </ul>
                </div>
            </div>
        </nav>
    </section>
    
    <div class="container-fluid px-0" id="icons">
    <marquee behavior="scroll" direction="left" scrollamount="12" bgcolor="aliceblue">
    
     <img src="/media/head2.png" height="40" width="50" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <img src="/media/head3.png" height="40" width="50">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <img src="/media/head5.png" height="40" width="50">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <img src="/media/head2.png" height="40" width="50"></a>
   </marquee>

    </div>
    </div>
    </div>

     <button onclick="topFunction()" id="myBtn" title="Go to top"><input type="image" src="/media/top1.png" width="40"
            height="40"></button> 

    <button onclick="downFunction()" id="downBtn" title="Go to bottom"><input type="image" src="/media/down3.png"
      width="40" height="40"></button>

      
    <br><br><br><br><br><br>
    <div class="container text-center" >
        
        <h1>OVERALL - ANALYSIS</h1>
    </div>
    <br><br><br><br><br><br><br>

    <div class="container px-0">
        <div class="card" id="main">
        <div class="card-header">
            <h5 style="font-weight:bold;">The main purpose of this project is to analyze how different factors affect the GSDP and GSDP per capita of our country India and each other.
</h5>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">

        <p>Some things we will find out in this analysis are</p>     
        <ul>
            
            <li>Where does each state stand when ranked in these factors?
</li>
            <li>Can India still be called an agricultural country?

</li>
            <li>Which sector is contributing the most to our GDP?</li>
            <li>How true is the saying "Money can't buy happiness"?</li>

        </ul>
            
            </blockquote>
        </div>
        </div>
        

        


    </div>

    <br><br>

    <br><br><br><br><br>
    <div class="container px-0">

        <div class="card">
        <div class="card-header">
            <h5 style="font-weight:bold;">The first thing we will do is find out where each state stands in terms of total GSDP and GSDP per capita.
</h5>
        </div>
        </div>
        
    </div>
    
    <br><br>
    
    <div class="container px-0">
    <div class="card" id="c1">
            {% include './graphs/Ranking of States by Total GSDP in 2019-20.html' %}
    </div>
    </div>
    
    <br><br>
    
    <div class="container px-0">

        <div class="card">
            <div class="card-body" id="conclusion">
            <h5 style="font-weight:bold;"><u>Conclusion</u></h5>
                <ul>
                    <li>The gap between the top states and the bottom states is quite prevalent.
</li>
                    <li>The top 5 states are 'Maharasthra' 'Uttar Pradesh' 'Tamil Nadu' 'Karnataka' 'Gujarat'.</li>
                    <li>The bottom 5 states are 'Manipur' 'Nagaland' 'Arunachal Pradesh' 'Mizoram' 'Andaman and Nicobar'.</li>
                    <li>Madhya Pradesh is on rank 10 .</li>
                </ul>
            </div>
        </div>
    </div>
    <br><br>




        <br>
        <div class="container px-0">
        <div class="card" id="c1">
            {% include './graphs/Ranking of States by GSDP Per Capita in 2019-20.html' %}
        </div>
        </div>
        <br><br>
    
    <div class="container px-0">

        <div class="card">
            <div class="card-body" id="conclusion">
            <h5 style="font-weight:bold;"><u>Conclusion</u></h5>
                <ul>
                    <li>The Gap between the Top states and the Bottom states is quite prevalent .</li>
                    <li>The top 5 states are 'Goa' 'Sikkim' 'Delhi' 'Chandigarh' 'Haryana'.</li>
                    <li>The bottom 5 states are 'Meghalaya' 'Manipur' 'Jharkhand' 'Uttar Pradesh' 'Bihar'.</li>
                    <li>Madhya Pradesh is 7th from bottom .</li>
                </ul>
            </div>
        </div>

    </div>



    <br><br><br><br>

    <div class="container px-0">
        <div class="card">
        <div class="card-header">
            <h5 style="font-weight:bold;">The Growth of a State is calculated by how much it's GSDP have
                increased/decreased in comparison to last year</h5>
        </div>
        </div>
        <br><br>
        
        <div class="card-header text-center"> 
        <h5>States which have growth greater than National Average</h5>
        </div>

    </div>

        <br><br>

        <div class="container px-0">
        <div class="card" id="c1">
            {% include './graphs/Average Growth of TopStates.html' %}
        </div>
        </div>

        <br><br><br>
        <div class="container px-0">
        <div class="card-header text-center">
           <h5>States which have growth lesser than National Average</h5>
        </div>
        </div>
        <br><br>

        <div class="container px-0">
        <div class="card" id="c1">
            {% include './graphs/Average Growth of BottomStates.html' %}
        </div>
        </div>

    </div>
    <br><br>
    <div class="container px-0">
        <div class="card">
            <div class="card-body" id="conclusion">
            <h5 style="font-weight:bold;"><u>Conclusion</u></h5>
            <ul>
                    <li>The states which have been consistently growing fast are 'Goa' 'Sikkim' 'Mizoram' 'Tripura' 'Telangana'.
</li>                 
                    <li>The states struggling in growth are 'Chattisgarh' 'Meghalaya' 'Jharkhand' 'Punjab' 'Bihar'.</li>
                    <li>Madhya Pradesh have ranked 7th in terms of growth.</li> 
                    
                </ul>
            </div>
        </div>
    </div>

    <br><br><br><br>
   
    <div class="demo">
        <nav class="pagination-outer" aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a href="#" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="/analysis">1</a></li>
                <li class="page-item"><a class="page-link" href="/analysis2">2</a></li>
                <li class="page-item"><a class="page-link" href="/analysis3">3</a></li>
                <li class="page-item"><a class="page-link" href="/analysis4">4</a></li>
             
                <li class="page-item">
                    <a href="/analysis2" class="page-link" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>



     <script src="/static/js/bottom.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

</body>

</html>